# Terraform state and local files
.terraform/
.terraform.*
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc

# Sensitive local vars
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

